*, *:before, *:after {
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #f00;
}
body {
    padding: 10px;
}

.page-content {
    width: 1000px;
    height: 1275px;
    background: #fff;
}

:root {
    --yamanote-green: #9ACD32;
}